.container {
  padding: 100px 70px 0 70px;
  background-color: #272727;

  @media (max-width: 768px) {
    padding-top: 90px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (max-width: 550px) {
    margin: 120px 18px 0 18px;
    padding: 0;
    background-color: #202020;
  }
}

.title {
  margin: 0;

  @media (max-width: 550px) {
    border-bottom: 1px solid #000;
    padding-bottom: 28px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &Title {
    margin: 90px 0 26px 0;
    padding: 0;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #fff;

    @media (max-width: 768px) {
      margin-top: 80px;
      margin-bottom: 24px;
      font-size: 30px;
      line-height: 36px;
    }

    @media (max-width: 550px) {
      margin-top: 60px;
    }
  }

  &Paragraph {
    max-width: 460px;
    margin: 0 0 100px 0;
    padding: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      margin-bottom: 83px;
      font-size: 12px;
      line-height: 18px;
    }

    @media (max-width: 550px) {
      margin-bottom: 50px;
      font-size: 11px;
      line-height: 16px;
    }
  }

  &List {
    margin: 0 0 100px 0;
    padding: 0;
    list-style: none;
    display: flex;

    @media (max-width: 670px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(84px, 84px));
      column-gap: 10px;
      margin-bottom: 70px;
    }

    &Item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 90px;
      height: 60px;
      background-color: #303030;
      border-radius: 10px;
      cursor: default;

      @media (max-width: 768px) {
        min-width: 84px;
        height: 57px;
      }

      @media (max-width: 656px) {
        margin-bottom: 10px;
      }

      &Span {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: -0.04em;
        color: #fff;

        @media (max-width: 768px) {
          font-size: 12px;
          line-height: 14.52px;
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
