.container {
  margin: 0 70px 30px 70px;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 344px));
  grid-column-gap: 20px;
  grid-row-gap: 32px;

  @media (max-width: 768px) {
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (max-width: 550px) {
    margin-right: 14px;
    margin-left: 14px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;

  @media (max-width: 550px) {
    margin-bottom: 79px;
  }

  &Button {
    all: unset;
    width: 320px;
    height: 36px;
    margin: 50px 0 80px 0;
    background-color: #2f2f2f;
    border-radius: 6px;
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    cursor: pointer;
    text-align: center;

    @media (max-width: 550px) {
      width: 240px;
    }

    &:focus {
      border: 1px solid #fff;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}

.hidden {
  visibility: hidden;
}
