.container {
  margin: 0 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;

  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 550px) {
    margin-left: 14px;
    margin-right: 14px;
  }
}

.title {
  margin: 160px 0 0 0;
  padding: 0;
  max-width: 730px;
  font-family: Inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 52px;
    margin-top: 350px;
  }

  @media (max-width: 550px) {
    max-width: 292px;
    margin-top: 220px;
    font-size: 29px;
    line-height: 37px;
  }
}

.list {
  margin: 150px 0 30px 0;
  padding: 0;
  list-style: none;
  display: flex;

  @media (max-width: 768px) {
    margin-top: 314px;
  }

  @media (max-width: 550px) {
    margin-top: 212px;
  }

  &Item {
    &:not(:last-child) {
      margin-right: 10px;

      @media (max-width: 550px) {
        margin-right: 6px;
      }
    }
  }
}

.button {
  all: unset;
  background-color: #303030;
  border-radius: 10px;
  padding: 10px 17px;
  cursor: pointer;
  color: #ffffff;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  @media (max-width: 550px) {
    padding: 5px 15px;
    font-size: 10px;
  }

  &:focus {
    border: 1px solid #fff;
  }
  &:hover {
    opacity: 0.5;
  }
}
